<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

  <% if current_user.subscribed? %>

  <h3>Update Card</h3>
  <div class="card-on-file">
    <p>Your current card on file</p>
    <div><%= current_user.card_type %> **** **** **** <%= current_user.card_last4 %></div>
    <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
    <p><%= link_to "Use a different card", "#", class: "use-diffent-card" %></p>
  </div>
  <hr />
  <div class="card-fields <%= card_fields_class %> col-sm-3">
    <%= form_tag card_path, method: :put, id: "payment-form" do %>
      <p class="payment-errors text-center text-danger"></p>

      <div class="form-group">
            <label>
              <span>Card Number</span>
            </label>
              <input value="4242 4242 4242 4242" type="text" size="20" data-stripe="number" class="form-control"/>

      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Expiration </label>
            <input value="12" type="text" size="2" placeholder="MM" data-stripe="exp-month" class="form-control"/>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label>&nbsp;</label>
            <input value="2020" type="text" size="4" placeholder="YYYY" data-stripe="exp-year" class="form-control"/>
          </div>
        </div>

        <div class="col-sm-3 col-sm-offset-3">
          <div class="form-group">
            <label>
              <span>CVC</span>
            </label>

            <input value="123" type="text" size="4" data-stripe="cvc" class="form-control"/>
          </div>
        </div>
      </div><!-- End row -->

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-md btn-block" data-disable-with="<i class='fa fa-spinner fa-spin'></i>">Update Card</button>
      </div>
    </div> <!-- End CC form col -->
    <% end %>
  </div>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", subscription_path, class: "btn btn-danger", data: { confirm: "Are you sure you want to cancel your subscription?" }, method: :delete %></p>

<% end %>
