<h1>Subscribe!</h1>

<%= form_tag subscription_path, id: "payment-form" do %>
  <% if current_user.card_last4? %>
    <div class="card-on-file">
      <p>Your current card on file</p>
      <div><%= current_user.card_type %> **** **** **** <%= current_user.card_last4 %></div>
      <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
      <p><%= link_to "Use a different card", "#", class: "use-diffent-card" %></p>
    </div>
  <% end %>
<div class="col-md-3">
  <div class="card-fields <%= card_fields_class %>">
    <p class="payment-errors text-center text-danger"></p>

    <div class="form-group">
          <label>
            <span>Card Number</span>
          </label>
            <input value="4242 4242 4242 4242" type="text" size="20" data-stripe="number" class="form-control"/>

    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Expiration </label>
          <input value="12" type="text" size="2" placeholder="MM" data-stripe="exp-month" class="form-control"/>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <input value="2020" type="text" size="4" placeholder="YYYY" data-stripe="exp-year" class="form-control"/>
        </div>
      </div>

      <div class="col-sm-3 col-sm-offset-3">
        <div class="form-group">
          <label>
            <span>CVC</span>
          </label>

          <input value="123" type="text" size="4" data-stripe="cvc" class="form-control"/>
        </div>
      </div>
    </div><!-- End row -->

  </div> <!-- End CC form col -->

  <button type="submit" class="btn btn-success btn-md" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit Payment</button>

<% end %>
</div><!-- ./col-md-6 -->
